@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

body {
   font-family: 'Poppins', 'Arial', sans-serif;
   font-size: 18px;
}

aside,
nav,
footer,
header,
section {
   display: block;
}

input,
button,
textarea {
   font-size: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   background-color: inherit;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}